body{
    background:#FFFCED;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #004218;
}
.btn-success {
    background-color: #0b5f1a ;
    border-color: #0b5f1a ;
    color: white ;
}

.btn-success:hover {
    background-color: #084a14 ;
    border-color: #084a14 ;
}
.navbar{
    padding: 20px 0;
}
.nav-text{
    color: #036d2a;
}
.nav-link {
    color: #036d2a;
    font-weight: 600;
    position: relative;
    transition: 0.3s;
}

.nav-link:hover {
    color: #055605;
    transform: translateY(-8px);
}


.home-main-img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-img{
    width: 240px;
    border-radius: 8px;
}

.card {
    background: #FFFCED; 
    border: 2px solid #0b3d1d; 
    border-radius: 8px; 
    padding: 25px;
}
.card-work {
    background: #FFFCED;
    border: 2px solid #0b3d1d;
    border-radius: 8px;
    transition: 0.35s ease;
    cursor: pointer;
}

.card-work:hover {
    transform: translateY(-8px);
    border-color: #0a2a18; 
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}
.img-container{
    width: 100%;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.portfolio-section{
    padding: 80px 0;
}

.section-title{
    font-size: 24px;
    font-weight: 800;
    color: #0a3d2e;
    margin-bottom: 40px;
}


.portfolio-row{
    margin-bottom: 60px;
    align-items: center;
}


.portfolio-img{
    width: 100%;
    max-width: 380px;
    border-radius: 4px;
}

.portfolio-img-small{
    width: 100%;
    max-width: 180px;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.6;
    color: #0b382b;
}

.contact-section{
    background-color: #FFFCED;
}

.contact-title{
    font-size: 48px;
    font-weight: 700;
    color: #0b4f25;
}

.contact-text{
    font-size: 18px;
    margin-top: 20px;
    color: #0b4f25;
    font-size: 22px;
    font-weight: 700;
}

.contact-name{
    color: #0b4f25;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}

.icon{
    width: 36px;
    margin-right: 12px;
    transition: 0.3s;
}




